body{
	background-color: #00D4FF;
}
.p1{
	color: #581845;
	width: 70%;
	margin: auto;
}
.p1 h3{
	color: #DAF7A6;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}
.imagen{
	margin: auto;
	width: 200px;
}
.imagen img{
	width: 200px;
	text-align: center;
}

.p2{
	color: #581875;
	width: 60%;
	margin: auto;
}
.p2 h3{
	color: #DAF7A3;
	text-transform: none;
	text-align: justify;
	font-size: 20px;
}